body {
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #ffe6e6, #ffe6e6);
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.counter-container {
background: white;
padding: 2rem;
border-radius: 20px;
box-shadow: 0 10px 20px rgba(0,0,0,0.15);
text-align: center;
max-width: 300px;
width: 100%;
}

h1 {
margin-bottom: 1rem;
font-size: 1.5rem;
color: #333;
}

.count {
font-size: 4rem;
margin: 1rem 0;
color: #00070e;
}

.btn-group {
display: flex;
justify-content: space-between;
gap: 10px;
flex-wrap: wrap;
}

button {
flex: 1 1 30%;
padding: 1rem;
font-size: 1.2rem;
border: none;
border-radius: 10px;
transition: background 0.3s;
}

button:hover {
opacity: 0.9;
}

.increment {
background-color: #110ecd;
color: white;
}

.decrement {
background-color: #110ecd;
color: white;
}

.reset {
background-color: #110ecd;;
color: white;
}

@media (max-width: 600px) {
.btn-group {
flex-direction: column;
}
button {
    flex: 1 1 100%;
}
}
